html,
body {
  background-color: #867777;
}

.container {
  padding-top: 2rem;
  max-height: 600px;
  max-width: 600px;
  overflow-y: auto;
  padding-bottom: 0.5rem;
}

.messagesFormSend {
  margin: auto;
  max-width: 600px;
}

.userMessage {
  border: solid 1px #201212;
  border-radius: 5px;
  background: #16e70e;
  color: #222222;
  padding: 12px;
  text-align: center;
  max-width: 600px;
  margin-top: 2px;
}

.messageIncoming {
  border: solid 1px #dedede;
  border-radius: 5px;
  background: #efefef;
  color: #222222;
  padding: 8px;
  text-align: center;
  max-width: 600px;
  margin-top: 2px;
}
